@import "@/styles/base/variables.scss";
.search-bar {
  width: 100%;
  margin-top: 20px;
  position: relative;
  &__input {
    padding: 2px 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: $black;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $black;
    width: 100%;
  }
  &::before {
    content: "";
    background-image: url("@/assets/mglass_icon.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 12px;
    position: absolute;
    top: 23px;
    left: 20px;
  }
}
